<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--使用注解方式配置springmvc-->
    <mvc:annotation-driven/>
    <!--自动扫描action包-->
    <context:component-scan base-package="com.taxi"/>
    <!-- 启用spring mvc 注解 -->
    <context:annotation-config />


    <!-- 加载db.properties文件中的内容 -->
    <context:property-placeholder location="classpath:config/db.properties"/>

    <!-- 配置数据源dbcp -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="5"/>
    </bean>

    <!-- 配置sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/SqlMapConfig.xml"/>
    </bean>
    <!-- 文件上传,需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置船上文件的最大尺寸为50MB -->
        <property name="maxUploadSize" value="52428800"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
    <!-- 配置mapper扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描包的路径，如果需要扫描多个包，中间使用半角 逗号隔开-->
        <property name="basePackage" value="com.taxi.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
    <!--配置拦截器，拦截所有请求-->
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash;先拦截登录&ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/admin/**"/>-->
            <!--<bean class="com.taxi.interceptor.LoginInterceptor"/>-->
        <!--</mvc:interceptor>-->
        <!--&lt;!&ndash;<mvc:interceptor>&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:mapping path="/api/**"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<bean class="com.taxi.interceptor.TokenInterceptor"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</mvc:interceptor>&ndash;&gt;-->
    <!--</mvc:interceptors>-->

</beans>